body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main-title {
    margin: 0 auto;
    font-family: 'Linux Libertine','Hoefler Text',Georgia,'Times New Roman',Times,serif;
    margin: 3rem auto .5rem;
}

.main-title p{
    font-size: 15px;
    margin: 5px 0;
}

.main-languages {
    position: relative;
    height: 325px;
    width: 546px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 325px;
    width: 546px;
    max-width: 100%;
    margin: 0 auto; */
}
/* .main-languages-left, .main-languages-right{
    display: grid;

} */
/* .main-languages-left div, .main-languages-right div{ */
.main-languages-contain div {
    width: 156px;
    height: 45px;
    position: absolute;
}
.main-languages-contain a{
    text-decoration: none;
}

.main-languages-contain div strong{
    color: #36c;
    font-size: 16px;
}
.main-languages-contain div small{
    color: #54595d;
    font-size: 12px;
}

.lang1 {
    top: 0;
    right: 60%;
}
.lang2 {
    top: 0;
    right: 10%;
}
.lang3 {
    top: 20%;
    left: 72%;
}
.lang4 {
    top: 20%;
    right: 70%;
}
.lang5 {
    top: 40%;
    left: 76%;
}
.lang6 {
    top: 40%;
    right: 74%;
}
.lang7 {
    top: 60%;
    right: 70%;
}
.lang8 {
    top: 60%;
    left: 72%;
}
.lang9 {
    top: 80%;
    right: 60%;
}
.lang10 {
    top: 80%;
    right: 10%;
}
.main-logo {
    position: absolute;
    top: 65px;
    left: 180px;
    width: 200px;
    height: 183px;
}

.main-input, .main-button {
    text-align: center;
}
.main-input-section {
    display: inline-flex;
    border: 2px solid #3366cc;
    border-radius: 1px;
    height: 35px;
    cursor: pointer;
}
.main-input-section:hover {
    border-color: #447ff5;
}

.main-input-section input{
    width: 320px;
    height: 100%;
    padding: 5px;
    border: none;
    font-size: 16px;
    outline: none;

}
.main-input-section label {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 34px;
    padding: 0 5px;
    color:#54595d;
    cursor: pointer;
}
.fa-angle-down{
    padding: 10px 10px 0 0;
    color: #54595d;
}
.main-input-section button {
    width: 50px;
    height: auto;
    background-color: #36c;
    border: 1px solid #36c;
}
.main-input-section button:hover {
    background: #447ff5;
    border-color: #447ff5;
}
.main-button-languages a{
    text-decoration: none;
}
.button-languages{
    padding: 6.4px 12.8px;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    border-radius: 2px;
    color: #36c;
    font-size: 13px;
    display: flex;
    align-items: center;
    margin: 1em auto;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.button-languages:hover {
    background-color: #fff;
    border-color: #a2a9b1;
}
.button-languages .fa-angle-down{
    padding: 0 2px;
    color: #36c;
}

.border-button{
    background-color: #c8ccd1;
    height: 1px;
    max-width: 460px;
    width: 80%;
    display: block;
    position: relative;
    margin: -28px auto 16px;
}
hr {
    margin: 60px 13px 2.6px;
    border-bottom: .5px solid #c8ccd1;
}
.main2{
    display: grid;
    grid-template-columns: 460px 850px;
    padding: 41.6px 12.8px 12.8px;
}

.main2-download {
    display: grid;
    grid-template-columns: 42px 290px;
    grid-template-rows: 80px 180px;
    justify-content: center;
    grid-template-areas:    "wiki-img wiki-text"
                            "wiki-w-img wiki-w-text";
    color: #54595d;                            
    text-align: left;
}
.main2-download h2 {
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 0 20px 0;
}
.wiki-img{
    grid-area: wiki-img;
    width: 42px;
    height: 42px;
}
.wiki-text{
    grid-area: wiki-text;
    font-size: 13px;
    margin: 3px;
}

.wiki-w-img{
    grid-area: wiki-w-img;
    width: 42px;
    height: 100%;
    background-color: #f8f9fa;
}
.wiki-w-text{
    grid-area: wiki-w-text;
    font-size: 13px;
    padding: 10px 5px;
    background-color: #f8f9fa;
}

.main2-options {
    display: grid;
    grid-template-columns: repeat(3,283px);
    grid-template-rows: repeat(4, 90px);
}
.options a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #54595d;
    font-size: 12px;
}


.options-img {
    width: 47px;
    height: auto;
    margin: 0 10px 0 0;
}
.options-text{
    text-align: left;
}
.options-img, .options-text {
    height: 100%;
}
.options h2 {
    font-size: 14px;
    color: #36c;
    font-weight: 400;
}
.options h2, .options p {
    margin: 0;
}

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 0;
    width: 100%;
    margin: 5px auto;
}

.footer-list li{
    padding-right: 40px;
    color: #54595d;
}
.footer-list li:first-child{
    list-style: none;
}

.footer-list a{
    color: #36c;
    text-decoration: none;
}
.footer-list a:hover{
    text-decoration: underline;
}

